/* Facilitators Section */

.facilitators-section {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 50px;
}

.facilitators-titles {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.facilitators-subtitles {
  margin-bottom: 6px;
}

.facilitators-paragraphs {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
  color: rgb(80, 80, 80);
  margin-bottom: 20px;
  line-height: 1.5;
}

.sponsor-div {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sponsor-logos {
  height: 180px;
  margin: 0 20px 0 20px;
}



/* Mobile compatibility */

@media screen and (max-width: 1024px) {

  .facilitators-section {
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 60px;
  }

  .sponsor-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .sponsor-div a {
    display: flex;
    justify-content: center;
  }
  
  .sponsor-logos {
    margin: 0 0 30px 0;
    width: 75%;
    height: auto;
    object-fit: contain;
  }

}