/* Facilitators Section */

.facilitators-section {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 50px;
}

.facilitators-titles {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.org-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  margin-bottom: 30px;
}

.collapsible-profile-tiles {
  flex: 1;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  text-align: left;
}

.collapsible-profile-tiles:hover {
  .profile-pics {
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5); /* Adjust the color and size of the glow as needed */
    transition: border 0.2s ease-in-out;
  }
}

.profile-pics {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
}

.roles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.role-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.program-year {
  font-weight: normal;
}

.role-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.plus {
  font-size: 24px;
  font-weight: 700;
  margin-right: 6px;
}

/* Animating in the role descriptions when you click on them */

.role-desc {
  font-size: 16px;
  color: rgb(80, 80, 80);
  line-height: 1.2;
  padding: 0 8px;
  margin-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible-profile-tiles.open .role-desc {
  max-height: 1000px;  /* ? */
}



/* Sponsors and Partners */

.sponsors-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0 25px 0;
}

.partners-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0 25px 0;
}

.sponsors-div {
  margin-bottom: 50px;
}

.links-to-sponsors {
  text-decoration: none;
}

.partner-links {
  text-decoration: none;
}

.sponsor-logos {
  width: 350px;
  margin: 0 30px;
}

.partner-logos {
  max-width: 350px;
  max-height: 250px;
  margin: 0 30px;
}



/* Mobile compatibility */

@media screen and (max-width: 2500px) {
  .org-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1900px) {
  .org-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1024px) {

  .organizers-section {
    padding-left: 7%;
    padding-right: 7%;
  }

  .org-grid {
    grid-template-columns: 1fr;
  }

  .collapsible-profile-tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .role-name {
    text-align: center;
  }

  .role-title {
    text-align: center;
  }

  .profile-pics {
    width: 70%;
  }

  .sponsors-div {
    flex-direction: column;
    margin: 10px 0 15px 0;
  }

  .sponsor-logos {
    width: 90%;
    margin: 0 0 20px 0;
  }

  .sponsor-div {
    margin-bottom: 50px;
  }

  .partners-div {
    flex-direction: column;
    margin: 10px 0 15px 0;
  }

  .partner-logos {
    width: 90%;
    margin: 0 0 20px 0;
  }

}

